@charset "UTF-8";

div{
    width: 250px;
    height: 250px;
    margin: auto;
    background-color: #151515;
    margin-top: 250px;
    animation-name: testando;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-radius: 1% 1%;
}

:root {
    --ftt: #151515;
    --fcoa: rgba(9, 65, 110, 0.822); 
}

@keyframes testando{
    0% {
        background-image: linear-gradient(to bottom, #151515, rgba(9, 65, 110, 0.822));
        border-radius: 5% 5%;
    }
    25% {
        border-radius: 15% 15%;
        background-image: linear-gradient(to bottom, #151515, rgba(9, 65, 110, 0.822));
    }
    50%{
        border-radius: 30% 30%;
        background-image: linear-gradient(to bottom, #151515, rgba(9, 65, 110, 0.822));
    }
    75%{
        border-radius: 55% 55%;
        background-image: linear-gradient(to bottom, #151515, rgba(9, 65, 110, 0.822));
    }
    100%{
        background-image: linear-gradient(to bottom, #151515, rgba(9, 65, 110, 0.822));
        box-shadow: 10px 10px rgba(136, 132, 132, 0.575);
    }
}